:root {
    --primary: #965165;
    --light: #614529;
    --dark: #1F2B21;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    font-weight: bolder;
}


/* desktop navigation ----------------------------------------------------- */
nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    box-sizing: border-box;
    padding: 16px 32px;
    z-index: 99;
    background-color: #c8cad66a;
    

   
}

.nav-container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    
    
}

.nav-container h1 {
    font-size: 18px;
    font-weight: bolder;
    letter-spacing: -1px;
    text-transform: uppercase;
    z-index: 2;
    color: #fff;
    font-family: 'agrandir-grandheavy', sans-serif;
    text-shadow: 0.5px 0.5px 3px #000000af;
}

.nav-container h1 b {
    color: var(--light);
}

.menu {
    display: none;
    flex: 1 1 0%;
    justify-content: flex-end;
    margin: 0 -16px;
    background: (0, 0, 0, 0.6);
}

.menu a {
    color: var(--light);
    margin: 0 16px;
    font-weight: bold;
    text-decoration: none;
    transition: 0.4s;
    border-radius: 5px;
    padding: 1px;
    
    
}

.menu a.is-active:hover, .menu a:hover {
    background-color: #96516555;
    transition: 0.7s;
   
}

/* mobile nav ----------------------------------------- */

.hamburger {
    display: block;
    position: relative;
    z-index:2;
    user-select: none;
    border: none;
    background: none;
    cursor: pointer;
    appearance: none;
    
}

.hamburger span {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    background-color: #fff;
    border-radius: 6px;
    z-index: 2;
    transform-origin: 0 0;
    transition: 0.6s;
    box-shadow: 0.5px 0.5px 3px #000000af;
}

.hamburger:hover span:nth-child(2) {
    transform: translateX(10px);
    background-color: var(--light);
    
}

.hamburger.is-active span:nth-child(1) {
    transform: translate(0px, -3px) rotate(45deg);
    
}

.hamburger.is-active span:nth-child(2) {
    opacity: 0;
    transform: translateX(15px);
    
}

.hamburger.is-active span:nth-child(3) {
    transform: translate(-3px, 2.6px) rotate(-45deg);
}

.hamburger.is-active:hover span {
    background-color: var(--light);
}


.mobile-nav {
    display: block;
    position: fixed;
    top: 0;
    left: 100%;
    width: 100%;
    min-height: 100vh;
    background-color: #965165e8;
    padding-top: 120px;
    z-index: 1;
    
    
}

.mobile-nav a {
    display: block;
    text-align: center;
    margin-bottom: 16px;
    padding: 12px 16px;
    background-color: rgba(255, 255, 255, 0.85);
    border-radius: 6px;
    text-decoration: none;
    color: var(--dark);
    box-shadow: 0.5px 0.5px 5px var(--dark);
    transition: 0.4s;
}

.mobile-nav.is-active {
    left: 0;
    transition: 0.6s;
}

.mobile-nav a:hover {
   box-shadow: 0.5px 0.5px 5px #ffb3c9af;
}

/* hero ---------------------------------------------- */

.hero-container {
    position: relative;
    padding: 30px 30px;
    margin: 0 auto;
    max-width: 100%;
    min-height: 60vh;
    display: flex;
    align-items: center;
    background-image: url('../img/hero2.jpg');
    background-position: center left;
    background-size: cover;
    
    
}

.hero-container h1 {
    color: var(--dark);
    Font-Family: 'Playfair Display', Serif;
    Font-Size: 48px;
    align-items: center;
    margin: 0 auto;
    margin-top: 570px;
    z-index: 1;

    
}

.hero-container::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: #fff;
    opacity: 0.1;
}

/* welcome ------------------------------------------ */
.welcome-container {
    padding: 80px;
    margin: 0px auto;
    box-sizing: border-box;
    max-width: 100%;
    min-height: 30vh;
    display: flex;
    background-color: var(--dark);
}

.welcome-content {
    flex: 1;
    margin: 3px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    flex-direction: column;
}

.welcome-content h2 {
    display: relative;
    font-family: 'Playfair Display';
    font-style: italic;
    font-weight: bolder;
    margin: 3px;
    top: -65px;
    color: #fff;
    font-size: 28px;
    text-align:end;
}

.welcome-content p {
    display: absolute;
    font-family: 'agrandir-grandheavy', sans-serif;
    font-weight: 300;
    font-size: 14px;
    margin: 8px auto;
    text-align: justify;
    text-align: center;
    font-style:italic;
    color: #fff;
    flex-wrap: nowrap;
    padding: 8px;
    border-style:double;
    text-shadow: 0.5px 0.5px 1px #140b0d54;
    max-width: 300px;
}

.welcome-content b {
    font-family: 'Playfair Display';
    font-style: italic;
    font-size: 25px;
    text-shadow: 1px 1px 3px#2d1018;
    text-align: center;
}

/* book club ---------------------------------------- */

#bookclub {

}

.bookclub-container {
    padding: 80px;
    margin: 0px auto;
    box-sizing: border-box;
    max-width: 100%;
    min-height: 50vh;
    display: flex;
    background-color: #fff;
}

.bookclub-content {
    flex: 1;
    margin: 3px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    flex-direction: column;
}

.bookclub-button {

}
/* titles ----------------------------------------- */

#titles {
    
}

.titles-container {
    padding: 80px;
    margin: 0px auto;
    box-sizing: border-box;
    max-width: 100%;
    min-height: 50vh;
    display: flex;
    background-color: #fff;
}

.titles-content {

}

.titles-button {

}



/* reviews ----------------------------------------- */

#reviews {

}

.reviews-container {
    padding: 80px;
    margin: 0px auto;
    box-sizing: border-box;
    max-width: 100%;
    min-height: 70vh;
    display: flex;
    background-color: var(--light);
}

.reviews-content {

}

.submit-reviews-button {

}

.see-reviews-button {

}

/* resources --------------------------------------- */

#resources {
   
    
}

#resources img {

}

.resources-container {
    padding: 80px;
    margin: 0px auto;
    box-sizing: border-box;
    max-width: 100%;
    min-height: 50vh;
    display: flex;
    background-color: #fff;
    background-image: url(/img/childrenreading.jpeg);
}

.resources-content {

}

.resources-button {

}
/* contact ----------------------------------------- */

.contact-container {
    padding: 80px;
    margin: 0px auto;
    box-sizing: border-box;
    max-width: 100%;
    min-height: 50vh;
    display: flex;
    background-color: var(--primary);
}

/* animation ---------------------------------------- */

#welcome img {
    display: flex;
    position: relative;
    max-width: 100%;
    max-height: 500px;
    animation: fadeInBottom 4s linear;
    animation-delay: 1s; 
}
    

    
     
    
    
    


/* media q's & keyframes ------------------------------ */

@media (min-width: 480px) {
    .hero-container h1 {
        font-size: 50px;
        text-shadow: 0.1px 0.1px 2px rgba(0, 0, 0, 0.497);
        align-items: flex-end;
        z-index: 0;
    }
}

@media (min-width: 768px) {
    #hero h1 {
        margin: 0 auto;
        text-align: center;
        font-size: 43px;
    }
}

@media (min-width: 800px) {
    .hamburger {
        display: none;
    }
    .menu {
        display: flex;
    }
    .mobile-nav {
        display: none;
    }

   .welcome-container {
        margin: 0px auto;
        box-sizing: border-box;
        max-width: 100%;
        min-height: 30vh;
        display: flex;
        background-color: var(--dark);
        align-content: center;
    }
    .welcome-content {
        flex: 1;
        margin: 3px;
        max-width: 1200px;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        flex-direction: row;
    }

    .welcome-content h2 {
        top: 860px;
        text-align: end;
        position: absolute;
        text-shadow: 1px 1px 3px #000;
        
    }

    .welcome-content p {
        max-height: 300px;
        border: none;
        text-align: justify;
        margin: 0 auto;
        text-align: center;
        font-size: 16px;
        min-width: 300px;
        min-height: 310px;
        background-color: #1b231c81;
        max-width: 40%;
        
        
    
    }

    .welcome-content b {
        font-family: 'Playfair Display';
        font-style: italic;
        font-size: 25px;
        text-shadow: 1px 1px 3px#2d1018;
        text-align: center;
    }
}
@media (min-width: 810px) {
    .welcome-container {
        
        min-width: 20em;
    }

    .welcome-content p {
       position: absolute;
       right: -98px;
       left: 48%;
       margin-left: 110px;
       max-width: 20em;
       text-align: justify;
      
       
}
.welcome-content img {
    padding-left: 10px;
    display: inline-block;
    
}

}
@media (min-width:900px) {
    .hero-container h1 {
        padding-left: 300px;
        
        
    }
}
@keyframes fadeInBottom {
    0% {
       opacity: 0;
       transform: translateX(-20px);
    }
    100% {
       opacity: 1;
       transform: translateX(0);
    }
 }   
