:root {
    --primary: #965165;
    --light: #614529;
    --dark: #1F2B21;
}
* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    list-style: none;
}


/* desktop navigation ----------------------------------------------------- */
nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    box-sizing: border-box;
    padding: 16px 32px;
    z-index: 99;
    background-color: #c8cad66a;
    

   
}

.nav-container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    
    
}

.nav-container h1 {
    font-size: 18px;
    font-weight: bolder;
    letter-spacing: -1px;
    text-transform: uppercase;
    z-index: 2;
    color: #fff;
    font-family: 'agrandir-grandheavy', sans-serif;
    text-shadow: 0.5px 0.5px 3px #000000af;
}

.nav-container h1 b {
    color: var(--light);
}

.menu {
    display: none;
    flex: 1 1 0%;
    justify-content: flex-end;
    margin: 0 -16px;
    background: (0, 0, 0, 0.6);
}

.menu a {
    color: var(--light);
    margin: 0 16px;
    font-weight: bold;
    text-decoration: none;
    transition: 0.4s;
    border-radius: 5px;
    padding: 1px;
    
    
}

.menu a.is-active:hover, .menu a:hover {
    background-color: #96516555;
    transition: 0.7s;
   
}

/* mobile nav ----------------------------------------- */

.hamburger {
    display: block;
    position: relative;
    z-index:2;
    user-select: none;
    border: none;
    background: none;
    cursor: pointer;
    appearance: none;
    
}

.hamburger span {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    background-color: #fff;
    border-radius: 6px;
    z-index: 2;
    transform-origin: 0 0;
    transition: 0.6s;
    box-shadow: 0.5px 0.5px 3px #000000af;
}

.hamburger:hover span:nth-child(2) {
    transform: translateX(10px);
    background-color: var(--light);
    
}

.hamburger.is-active span:nth-child(1) {
    transform: translate(0px, -3px) rotate(45deg);
    
}

.hamburger.is-active span:nth-child(2) {
    opacity: 0;
    transform: translateX(15px);
    
}

.hamburger.is-active span:nth-child(3) {
    transform: translate(-3px, 2.6px) rotate(-45deg);
}

.hamburger.is-active:hover span {
    background-color: var(--light);
}


.mobile-nav {
    display: block;
    position: fixed;
    top: 0;
    left: 100%;
    width: 100%;
    min-height: 100vh;
    background-color: #965165e8;
    padding-top: 120px;
    z-index: 1;
    
    
}

.mobile-nav a {
    display: block;
    text-align: center;
    margin-bottom: 16px;
    padding: 12px 16px;
    background-color: rgba(255, 255, 255, 0.85);
    border-radius: 6px;
    text-decoration: none;
    color: var(--dark);
    box-shadow: 0.5px 0.5px 5px var(--dark);
    transition: 0.4s;
}

.mobile-nav.is-active {
    left: 0;
    transition: 0.6s;
}

.mobile-nav a:hover {
   box-shadow: 0.5px 0.5px 5px #ffb3c9af;
}

/* hero ---------------------------------------------- */

.hero-container {
    position: relative;
    padding: 30px 30px;
    margin: 0 auto;
    max-width: 100%;
    min-height: 60vh;
    display: flex;
    align-items: center;
    background-image: url('../img/hero2.jpg');
    background-position: center left;
    background-size: cover;
    
    
}

.hero-container h1 {
    color: var(--dark);
    Font-Family: 'Playfair Display', Serif;
    Font-Size: 48px;
    align-items: center;
    margin: 0 auto;
    margin-top: 570px;
    z-index: 1;
    

    
}

.hero-container::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: #fff;
    opacity: 0.1;
}

/* welcome ------------------------------------------ */
.welcome-container {
    padding: 80px;
    margin: 0px auto;
    box-sizing: border-box;
    max-width: 100%;
    min-height: 30vh;
    display: flex;
    background-color: var(--dark);
}

.welcome-content {
    flex: 1;
    margin: 3px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    flex-direction: column;
}

.welcome-content h2 {
    display: relative;
    font-family: 'Playfair Display';
    font-style: italic;
    font-weight: bolder;
    margin: 3px;
    top: -65px;
    color: #fff;
    font-size: 23px;
    text-align:end;
}

.welcome-content p {
    display: absolute;
    font-family: 'agrandir-grandheavy', sans-serif;
    font-weight: 300;
    font-size: 14px;
    margin: 0px;
    text-align: justify;
   
    font-style:italic;
    color: #fff;
    
    
    
    text-shadow: 0.5px 0.5px 1px #140b0d54;
    max-width: 300px;
}

.welcome-content b {
    font-family: 'Playfair Display';
    font-style: italic;
    font-size: 25px;
    text-shadow: 1px 1px 3px#2d1018;
    text-align: center;
}

/* book club ---------------------------------------- */

.bookclub-container {
    display: flex;
    padding: 80px;
    margin: 0px auto;
    box-sizing: border-box;
    max-width: 100%;
    min-height: 50vh;
    display: flex;
    background-color: #fff;
    align-items: center;
    
}

.bookclub-content {
    flex: 1;
    margin: 3px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    flex-direction: column;
}

.bookclub-button {
    height: 50px;
    position: absolute;
    width: 170px;
    background-color: var(--primary);
    color: #fff;
    font-family: 'agrandir-grandheavy', sans-serif;
    text-transform: uppercase;
    border-color: #fff;
    top: 2090px;
    left: 150px;
    border-radius: 10px;
    box-shadow: 0.5px 0.5px 5px #ffb3c9af;
    transition: 0.4s;
    font-size: 12px;
    font-weight:600;
    
}

.bookclub-button:hover {
    box-shadow: 0.5px 0.5px 5px #ffb3c9af;
    background-color: #fff;
    color: var(--primary);
    border-color: #fff;
    font-weight:600;
    cursor: pointer;
}

#bookclub img {
   max-width: 350px;
   border-radius: 50% 50%;
   box-shadow: 0.5px 0.5px 5px #614529;
   
}

#bookclub h1 {
    font-family: 'Playfair Display';
    font-style: italic;
    font-weight: bolder;
    color: var(--light);
    margin: 6px auto;
    text-shadow: 0.5px 0.5px 1px #140b0d54;
    flex-grow: 1;
    font-size: 20px;
}

#bookclub p {
    font-family: 'agrandir-grandheavy', sans-serif;
    font-size: 9.4px;
    text-align: justify;
    max-width: 270px;
    margin: 7px auto;
    text-transform: uppercase;
    font-weight: 600;
    padding: 5px;
    text-shadow: 0.5px 0.5px 1px #140b0d3d;
}


/* titles ----------------------------------------- */

#titles img {
    max-width: 200px;
    padding: 16px;
    
}

#titles h2 {
    font-family: 'Playfair Display';
    font-style: italic;
    font-weight: bolder;
    color: var(--light);
    margin: 6px auto;
    text-shadow: 0.5px 0.5px 1px #140b0d54;
    position: absolute;
    top: 2200px;
    font-size: 20px;
    
}

#titles p {
    font-family: 'agrandir-grandheavy', sans-serif;
    font-weight: 100;
    font-size: 10px;
    text-align: justify;
    text-shadow: 0.5px 0.5px 1px #140b0d54;
}

.titles-container {
    padding: 80px;
    margin: 0px auto;
    box-sizing: border-box;
    max-width: 100%;
    min-height: 60vh;
    display: flex;
    background-color: #fff;
}

.titles-content {
    flex: 1;
    margin: 3px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    flex-direction: row;
}

.titles-button {
    height: 50px;
    position: absolute;
    width: 170px;
    background-color: var(--primary);
    color: #fff;
    font-family: 'agrandir-grandheavy', sans-serif;
    text-transform: uppercase;
    border-color: #fff;
    top: 2575px;
    left: 150px;
    border-radius: 10px;
    box-shadow: 0.5px 0.5px 5px #ffb3c9af;
    transition: 0.4s;
    font-size: 12px;
    font-weight:600;
    
}

.titles-button:hover {
    box-shadow: 0.5px 0.5px 5px #ffb3c9af;
    background-color: #fff;
    color: var(--primary);
    border-color: #fff;
    font-weight:600;
    cursor: pointer;
}

/* resources --------------------------------------- */

#resources {
   
    
}

#resources img {
    
}

.resources-container {
    padding: 80px;
    margin: 0px auto;
    box-sizing: border-box;
    max-width: 100%;
    min-height: 50vh;
    display: flex;
    background-color: #fff;
    background-image: url('../img/childrenreading.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
}

.resources-content {
    flex: 1;
    margin: 3px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    flex-direction: column;
}

.resources-button {
    height: 50px;
    position: absolute;
    width: 170px;
    background-color: var(--dark);
    color: #fff;
    font-family: 'agrandir-grandheavy', sans-serif;
    text-transform: uppercase;
    border-color: #fff;
    top: 3010px;
    left: 150px;
    border-radius: 10px;
    box-shadow: 0.5px 0.5px 5px #1F2B21;
    transition: 0.4s;
    font-size: 12px;
    font-weight:600;
}

.resources-button:hover {
    box-shadow: 0.5px 0.3px 2px #fff;
    background-color: #fff;
    color: var(--dark);
    font-weight: 600;
    cursor: pointer;
}

/* contact ----------------------------------------- */

.contact-container {
    padding: 80px;
    margin: 0px auto;
    box-sizing: border-box;
    max-width: 100%;
    min-height: 50vh;
    display: flex;
    background-color: var(--primary);
}

.contact-content {
    flex: 1;
    margin: 3px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    flex-direction: column;
}

#contact p {
    font-family: 'agrandir-grandheavy', sans-serif;
    font-size: 15px;
    color: #1F2B21;
    font-weight: 500;
    text-transform: uppercase;
    text-align: center;
    text-shadow: 0.5px 0.5px 1px #140b0d54;
    margin: 0 auto;
    
    

}

.footer-content {
    min-height: 4vh;
    background-color: #1F2B21;
    color: #fff;
    text-align: center;
}

/* animation ---------------------------------------- */

#welcome img {
    display: flex;
    position: relative;
    max-width: 100%;
    max-height: 500px;
    animation: fadeInBottom 4s linear;
    animation-delay: 1s; 
}
    

    
     
    
    
    


/* media q's & keyframes ------------------------------ */

@media (min-width: 480px) {
    .hero-container h1 {
        font-size: 50px;
        text-shadow: 0.1px 0.1px 2px rgba(0, 0, 0, 0.497);
        align-items: flex-end;
        z-index: 0;
    }

    .bookclub-button {
        position: absolute;
        top: 2020px;
    }

    #titles h2 {
        position: absolute;
        top: 2140px;
    }

    .titles-button {
        position: absolute;
        top: 2485px;
    }

    .resources-button {
        position: absolute;
        top: 2890px;
    }
}

@media (min-width: 768px) {
    .hamburger {
        display: none;
    }
    .menu {
        display: flex;
    }
    .mobile-nav {
        display: none;
    }

   .welcome-container {
        margin: 0px auto;
        box-sizing: border-box;
        max-width: 100%;
        min-height: 30vh;
        display: flex;
        background-color: var(--dark);
        align-content: center;
    }
    .welcome-content {
        flex: 1;
        margin: 3px;
        max-width: 1200px;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        flex-direction: row;
    }

    .welcome-content h2 {
        top: 1230px;
        left: 190px;
        text-align: end;
        position: absolute;
        text-shadow: 1px 1px 3px #000;
        
    }

    .welcome-content p {
        position: absolute;
        left: 150px;
        text-shadow: 0.5px 0.5px 4px #000;
        
        
    }

    .welcome-content b {
        font-family: 'Playfair Display';
        font-style: italic;
        font-size: 25px;
        text-shadow: 1px 1px 3px#2d1018;
        text-align: center;
    }

    .welcome-container {
        
        min-width: 20em;
    }

    
    .welcome-content img {
        padding-left: 10px;
        display: inline-block;
    
      
    }
    
    #bookclub img {
        max-width: 250px;
        position: absolute;
        left: 100px;
        bottom: -970px;
    }

    #bookclub h1 {
        position: absolute;
        left: 400px;
        top: 1500px;
    }
    
    #bookclub p {
        position: absolute;
        left: 420px;
        top: 1550px;
        width: 198px;
    }
    
    .bookclub-button {
        position: absolute;
        top: 1680px;
        left: 440px;
    }

    #titles img {
        position: absolute;
        top: 1900px;
        left: 480px;
        
    }
    
    #titles h2 {
        font-size: 26px;
        width: 198px;
        position: absolute;
        left: 150px;
        top: 2000px;
    }
    
    #titles p {
        position: absolute;
        left: 380px;
        top: 2000px;
        text-align: justify;
        max-width: 100px;
    }

    .titles-button {
        position: absolute;
        top: 2100px;
        left: 150px;
    }

    .resources-button {
        position: absolute;
        top: 2680px;
        left: 350px;
    }

    #contact p {
        margin: 0 auto;
        position:absolute;
        left: 440px;
        text-align: left;
        top: 2830px;
        font-size: 12px;
        
    }

    #contact iframe {
        position: absolute;
        left: 15px;
    }

    
    
}



@media (min-width:1200px) {
    .hero-container h1 {
        padding-left: 300px;
        
        
    }

    .welcome-content h2 {
        position: absolute;
        left: 1000px;
    }

    .welcome-content p {
        position: absolute;
        left: 1000px;
        top: 1000px;
    }

    #bookclub img {
        max-width: 400px;
        position: absolute;
        top: 1600px;
    }

    #bookclub h1 {
        position: absolute;
        top: 1600px;
        left: 500px;
        font-size: 30px;
    }

    #bookclub p {
        position: absolute;
        top: 1650px;
        left: 540px;
        font-size: 12px;
        width: 400px;
    }

    .bookclub-button {
        position: absolute;
        top: 1800px;
        left: 590px;
    }

    #titles img {
        position: absolute;
        left: 1010px;
    }
    
    #titles h2 {
        position: absolute;
        left: 800px;
    }

    #titles p {
        position: absolute;
        left: 1250px;
    }

    .titles-button {
        position: absolute;
        left: 800px;
    }

    .resources-button {
        position: absolute;
        left: 650px;
    }

    #contact iframe {
        position: absolute;
        left: 700px;
    }

    #contact p {
        position: absolute;
        left: 400px;
        font-size: 13px;
    }
}



@keyframes fadeInBottom {
    0% {
       opacity: 0;
       transform: translateX(-20px);
    }
    100% {
       opacity: 1;
       transform: translateX(0);
    }
 } 



